$full-width: 100%;
$full-height: 100%;
$background: #bfbfbf;

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%justifyBetweenCenter {
  justify-content: space-between;
  align-items: center;
}

.main {
  @extend %flex-row;
  width: $full-width;
  height: $full-height;
  justify-content: space-between;
}

%space {
  width: calc(50% - 15px);
  margin: 10px;
}

.left-half {
  @extend %space;
  @extend %flex-column;
  @extend %justifyBetweenCenter;
}

%border {
  border: 1px solid grey;
  border-radius: 5px;
}

.right-half {
  @extend %space;
  @extend %flex-row;
  @extend %border;
}

.l-content-1 {
  @extend %border;
  height: 7%;

  width: $full-width;
}

.l-content-2 {
  @extend %border;
  height: 13%;

  width: $full-width;
}

.l-content-3 {
  @extend %border;
  height: 30%;

  width: $full-width;
}

.l-content-4 {
  @extend %border;
  height: 45%;

  width: $full-width;
}
